<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WDI Project 2: eShop</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
    <section class="hero is-dark is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Shoppiiiiiiiiing! 
                </h1>
                <h2 class="subtitle">
                    A Mixed Collection of Hidden Treasures... ooooh
                </h2>
            </div>
        </div>
    </section>

    {{{ body }}}
</body>
</html>